<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Splacky Recipes</title>
</head>
<body>
<header class="header">
    <h1>Welcome to Splacky Recipes</h1>
</header>
<section>
    <main>
        <p>Create your recipe from scratch</p>
        <form th:action="@{/splacky-recipes/create-recipe}" method="POST" th:object="${newRecipe}" enctype="multipart/form-data">
            <div>
                <label>Name: </label>
                <input type="text" th:field="*{name}"  />
            </div>
            <div>
                <label>Instruction: </label>
                <textarea type="text" th:field="*{instruction}" placeholder="How to prepare it..." cols="10" rows="5"></textarea>
            </div>
            <br />
            <h3>Select Ingredients</h3>
            <div th:each="ingredient : ${ingredients}">
                <div>
                    <label>[[${ingredient.name}]]</label>
                    <input type="checkbox" th:value="${ingredient.name}" th:field="*{ingredients}" />
                </div>
            </div>
            <div>
                <label>Select image:</label>
                <input type="file" name="file" />
            </div>

            <button type="submit">Create</button>
        </form>
    </main>
</section>
</body>
</html>