<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Splacky Recipes</title>
</head>
<body>
    <header class="header">
        <h1>Welcome to Splacky Recipes</h1>
    </header>
    <section>
        <main>
            <div th:if="${noRecipe}">
                <p>No recipe is available! come back later!</p>
            </div>
            <div th:if="${recipes}">
                <p>Select any recipe:</p>
                <div class="recipe-container">
                    <div th:each="recipe : ${recipes}">
                        <div class="recipe">
                            <div class="image-container">
                                <img th:src="@{/splacky-recipes/resources/{id}(id=${recipe.id})}" alt="Recipe Image"/>
                            </div>
                            <p>[[${recipe.name}]]</p>
                            <p>[[${recipe.instruction}]]</p>
                            <div th:each="ingredient : ${recipe.ingredients}">
                                <span>[[${ingredient.name}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form th:action="@{/splacky-recipes/create-recipe}"
                  method="GET">
                <button>Create new recipe</button>
            </form>
            <br />
            <form th:action="@{/splacky-recipes/create-ingredient}"
                  method="GET">
                <button>Create new Ingredient</button>
            </form>
        </main>
    </section>
</body>
</html>